---
layout: single
title: KB Index
---

<ul>
  {% assign cur = "" %}
  {% assign kbpages = site.kb | sort: "title" %}
  {% for kbpage in kbpages %}
    {% assign next_letter = kbpage.title | slice: 0, 1 | upcase %}
    {% if cur != next_letter %}
      {% if cur != "" %}
        </ul>
      {% endif %}
      {% assign cur = next_letter %}
      <li><b>{{cur}}</b></li>
      <ul>
    {% endif %}
    <li><a href='{{kbpage.url}}'>{{kbpage.title}}</a></li>
  {% endfor %}
  {% if cur != "" %}
  </ul>
  {% endif %}
</ul>
