---
layout: kb_base
---

{{content}}

{% for i in page.include %}
  {% for p in site.kb %}
    {% if p.id == i %}
      <h2><a href="{{p.url}}">{{p.title}}</a></h2>
      <div>
        {{p.content | markdownify}}
      </div>
      {% break %}
    {% endif %}
  {% endfor %}
{% endfor %}

{% capture related %}
<ul id='related'>
  {% for i in page.related %}
    {% for p in site.kb %}
      {% if p.id == i %}
        <li><a href="{{p.url}}">{{p.title}}</a></li>
        {% break %}
      {% endif %}
    {% endfor %}
  {% endfor %}
</ul>
{% endcapture %}
{% if related contains "li" %}
<h2>Related Cards</h2>
{{related}}
{% endif %}
